*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Sen', sans-serif;
}

body,
html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.vertical-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.horizontal-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
}

.vertical-scroll-lock {
  overflow-y: hidden;
}
